html,
body {
    min-height: 100%;
}

/* definir backgrounds */
.masmorra {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(19, 19, 19);
}

.sala-masmorra {
    background-image: url("img/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

#shop-background {
    background-image: url("img/background-loja.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}


.batalha {
    position: relative;
    background-color: chocolate;
    background-image: url("img/batalha-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.background-deck {
    background-color: rgb(44, 44, 44);
}
#background-sobre-nos {
    background-image: url("img/background-sobre-nos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

#sobre-nos {
    color: whitesmoke;
    font-size: 2rem;
}

.referencias{
    background-image: url("img/background-referencias");
}

/* estilos para o index */

#index h1,
.titulo {
    text-align: center;
    font-size: 10vh;
    font-family: 'Dancing Script', cursive;
    text-shadow: 3px 3px rgb(104, 182, 255);
    color: rgb(255, 255, 255);
}

#menu {
    display: grid;
    grid-template: auto 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
}

#index h1 {
    grid-row: 1 / 2;
    grid-column: 2 / 5;
}

#jogar {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#deck {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

#shop {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#sobre {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}

/*estilos para os botoes */
.botao {
    display: flex;
    text-shadow: 2px 2px rgb(104, 182, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 8vh;
    background-color: rgb(2, 57, 88);
    font-family: 'Dancing Script', cursive;
    justify-content: center;
    align-items: center;
    

    width: 40vh;
    height: 22vh;
    border-radius: 3%;
    border: 0.2vh solid black;
}


a {
    text-decoration-line: none;
}

.botao:hover {
    background-color: rgba(7, 44, 66, 0.904);
    cursor: pointer;
    transition: 350ms;
    color: gray;
    text-shadow: goldenrod 2px 2px;
    border: 1.2vh solid rgba(255, 230, 0, 0.795);
    height: 18vh;
    width: 40vh;
}

.botao:active {
    background-color: rgb(5, 82, 128);
    cursor: pointer;
    transition: 100ms;
    color: gray;
    text-shadow: goldenrod 1px 1px;
}

.volta {
    font-size: 10vh;
    position: sticky;
    top: 0px;
    left: 0px;
    color: rgb(255, 255, 255);
    border-radius: 10%;
    text-shadow: 1px 1px blue;
    text-align: center;
    background-color: rgb(26, 24, 24);
    font-family: 'Dancing Script', cursive;
    border-radius: 20%;
    height: 9vh;
    width: 11vh;
    padding-bottom: 2vh;
    border: 1vh solid rgb(0, 0, 0);
}

.volta:hover {
    background-color: rgba(22, 22, 22, 0.904);
    cursor: pointer;
    color: gray;
    transition: 200ms;
}




/* estilos para a seleção de batalha */


#selecionador{
    display: grid;
    grid-template: auto auto auto auto auto / 20vh 1fr 1fr 1fr 1fr 20vh; 
}
#nome-oponente {
    text-align: center;
    font-size: 5vh;
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    grid-row: 4 / 5;
    grid-column: 3 / 5; 
}
#botao-voltar{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
#selecionador h1{
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    justify-self: center;
    align-self: center;
}
#anterior {
    background-image: url("img/anterior.png");
    background-size: cover;
    background-repeat: no-repeat;
    justify-self: end; 
    border-radius: 2vh;
    border: rgb(61, 61, 61) ridge 1vh;
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}

#proximo {
    background-image: url("img/proximo.png");
    background-size: cover;
    background-repeat: no-repeat;
    justify-self: start; 
    border-radius: 2vh;
    border: rgb(61, 61, 61) ridge 1vh;
    grid-row: 5 / 6;
    grid-column: 4 / 5;
}

#proximo:hover{
    cursor: pointer;
    border: rgb(255, 255, 255) ridge 5px;
    transition: 300ms;
}

#proximo:active{
    border: rgb(146, 146, 146) ridge 5px;
    transition: 300ms;
}

#anterior:hover{
    cursor: pointer;
    border: rgb(255, 255, 255) ridge 5px;
    transition: 300ms;
}

#anterior:active{
    border: rgb(146, 146, 146) ridge 5px;
    transition: 300ms;
}
.controle{
    width: 15vh;
    height: 15vh;
}
#img-oponente{
    width: 36.75vh;
    height: 51.75vh;
    border: rgb(146, 146, 146) ridge 2vh;
    border-radius: 2vh;
}
#img-oponente:hover{
    border: rgb(116, 4, 4) ridge 2vh;
    transition: 300ms;
}
#link-oponente{
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    justify-self: center;
}


/* fim */

/*estilo para o baralho/deck*/

#deck {
    display: grid;
    grid-template: 1fr auto 1fr auto / 1fr 1fr 1fr 1fr 1fr;
}

#voltar-deck {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#deck h1 {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
}

#baralho-formado {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: rgb(24, 24, 24);
    border: 2vh rgb(0, 0, 0) solid;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    position: sticky;
    top: 0;
    z-index: 1;
}

#deck h2 {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
}

#colecao {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    border: 1vh rgb(255, 255, 255) solid;
    grid-column: 2 / 5;
    grid-row: 4 / 5;
}

#baralho-formado img {
    width: 17.49vh;
    height: 24.63vh;
}

#colecao img {
    width: 23.32vh;
    height: 32.84vh;
    cursor: pointer;
    border: ridge rgb(255, 154, 3) 1vh;
}

.adicionar-baralho{
    opacity: 10%;
}
.alerta-len{
    background-color: rgb(228, 39, 5);
    border: solid black 1vh;
    border-radius: 10%;
    position: sticky;
    top: 0; 
    left: 0;
    display: inline;
}
.alerta-len p{
    text-align: center;
    font-size: 4vh;
    font-weight: 700;   
    font-family: 'Dancing Script', cursive;
}

.alerta-max{
    background-color: rgb(54, 204, 17);
    border: solid black 1vh;
    border-radius: 10%;
    position: sticky;
    top: 0; 
    left: 0;
    display: inline;
}
.alerta-max p{
    text-align: center;
    font-size: 4vh;
    font-weight: 700;   
    font-family: 'Dancing Script', cursive;
}
/* fim */

/* estilos para as batalhas */

.batalha{
    overflow: hidden;
}
#arena{
    display: grid;
    grid-template: repeat(4, auto) / repeat(9, auto); 
    margin-left: 1vh; 
    margin-right: 1vh;
    align-items: center;
}
#baralho-area{
    grid-column: 8 / 9;
    grid-row: 4 / 5;    
    width: 18.75vh;
    height: 25.75vh; 
    justify-self: center;
}
#player-deck{
    grid-column: 4 / 7;
    grid-row: 4 / 5;   
    background-color: rgb(43, 43, 43);
    padding: 2vh;
    border: 1vh rgb(26, 24, 24) solid;
    border-radius: 10%;
    display: flex;
    justify-content: center;
}
#player-deck img{
    width: 12.5vh;
    height: 17.25vh;
}
#oponente-obj{
    grid-column: 4 / 7; 
    grid-row: 1 / 2;   
    justify-self: center;
    width: 24.5vh;
    height: 34.5vh;
}
#arena div img{
    width: 12.5vh;
    height: 17.25vh;
}

#slot1{
    grid-column: 4 / 5;
    grid-row: 2 / 3;   
    border: 1vh rgb(26, 24, 24) solid;
    border-radius: 10%;
    background-color: rgb(87, 0, 0);
}
#slot2{
    grid-column: 5 / 6;
    grid-row: 2 / 3;   
    border: 1vh rgb(26, 24, 24) solid;
    border-radius: 10%;
    background-color: rgb(20, 87, 0);
}
#slot3{
    grid-column: 6 / 7;
    grid-row: 2 / 3;   
    border: 1vh rgb(26, 24, 24) solid;
    border-radius: 10%;
    background-color: rgb(87, 0, 72);
}
#slot4{
    grid-column: 4 / 5;
    grid-row: 3 / 4;   
    border: 1vh rgb(26, 24, 24) solid;
    border-radius: 10%;
    background-color: rgb(87, 0, 0);
}
#slot5{
    grid-column: 5 / 6;
    grid-row: 3 / 4;   
    border: 1vh rgb(26, 24, 24) solid;
    border-radius: 10%;
    background-color: rgb(0, 87, 7);
}
#slot6{
    grid-column: 6 / 7;
    grid-row: 3 / 4;   
    border: 1vh rgb(26, 24, 24) solid;
    border-radius: 10%;
    background-color: rgb(84, 0, 87);
}
#vida-inimigo{
    grid-column: 2 / 3;
    grid-row: 1 / 2;   
    border-radius: 48.9%;
    border: solid black 0.5vh;
    padding: 4.2vh 2.4vh;
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgb(126, 43, 43) 100%);
    display: flex;
    justify-self: center;
    align-self: center;
    z-index: -1;
}

#mana-player{
    grid-column: 2 / 3;
    grid-row: 3 / 4;   
    border-radius: 48.9%;
    border: solid black 0.5vh;
    background: radial-gradient(circle, rgb(240, 219, 127) 0%, rgb(115, 217, 224) 100%);
    padding: 4.2vh 2.4vh;
    display: flex;
    justify-self: center;
    align-self: center;
    z-index: -1;
    
} 

#vida-player{
    grid-column: 2 / 3;
    grid-row: 4 / 5;   
    border-radius: 48.9%;
    border: solid black 0.5vh;
    padding: 4.2vh 2.4vh;
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgb(126, 43, 43) 100%);
    display: flex;
    justify-self: center;
    align-self: center;
    z-index: -1;
}

#aro1{
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
    width: 18vh;
    height: 18vh;
    display: flex;
    justify-self: center;
    align-self: center;
}

#aro2{
    grid-column: 2 / 3;
    grid-row: 4 / 5;   
    width: 18vh;
    height: 18vh;
    display: flex;
    justify-self: center;
    align-self: center;
}
#aro3{
    grid-column: 2 / 3;
    grid-row: 3 / 4;   
    width: 18vh;
    height: 18vh;
    display: flex;
    justify-self: center;
    align-self: center;
}

#passa-turno{
    grid-column: 8 / 9;
    grid-row: 2 / 4;  
    font-size: 12vh;
    text-align: center;
    justify-self: center;
    width: 12.5vh;
    height: 17.25vh;
}
#batalha-voltar{
    grid-column: 8 / 9;
    grid-row: 1 / 2 ;  
    justify-self: flex-end;
    align-self: flex-start;
    font-size: 1vh;
}
.dmg, .hp, .mana{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vh;
    text-shadow: 2px 1px rgb(75, 75, 75);
    color: rgb(31, 28, 28);
    font-weight: bold;
}
.hp {
    padding: 1vh 1vh; 
    float: right;  
}
.dmg{
    padding: 1vh;
    float: left;
}

.mana{
    padding: 1vh;
    float: left;
}

/* fim */
