body {
    position: relative;
    color: white;
    background-image: url("img/background.jpg");
    background-size: cover;
}

html, body { 
    min-height: 100%;
}
#index h1 {
    text-align: center;
    font-size: 10vh;
    font-family: 'Dancing Script', cursive;
    text-shadow: 3px 3px rgb(104, 182, 255);
    color: rgb(255, 255, 255); 
}

#index div{
    text-shadow: 3px 3px rgb(104, 182, 255);
    color: rgb(255, 255, 255); 
    background-color: rgba(7, 44, 66, 0.616);
    text-align: center;
    align-items: center;
    font-size: 9vh;
    font-family: 'Dancing Script', cursive;
    width: 100vh;
    margin-right: auto;
    margin-left: auto;
    width: 32vh;
    padding: 1vh 5vh;
    border-radius: 3%;
    border: 0.2vh solid black;
}

#index div:hover{
    background-color: rgb(2, 57, 88);
    cursor: pointer;
    transition: 300ms;
    color: gray;
    text-shadow: goldenrod 1px 1px;
}

#index div:active{
    background-color: rgb(5, 82, 128);
    cursor: pointer;
    transition: 100ms;
    color: gray;
    text-shadow: goldenrod 1px 1px;
} 

a {
    text-decoration-line: none;
}

#menu {
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
    ". p . d ."
    ". . . . ."
    ". s . n .";
}

#jogar {
    grid-area: p;
}
#deck {
    grid-area: d;
}
#shop {
    grid-area: s;
}
#sobre {
    grid-area: n;
}
.volta{
    color: white;
    font-size: 30vh;
    
}
