html,
body {
  min-height: 100%;
  user-select: none;
}

:root {
  --borda-escura: 1vh rgb(0, 0, 0) solid;
  --borda-redondinha: 2vh;
}

/* definir backgrounds */
.masmorra {
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(19, 19, 19);
  overflow: hidden;
}

.sala-masmorra {
  background-image: url("img/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.taverna {
  background-image: url("img/background-loja.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.batalha {
  position: relative;
  background-color: rgb(52, 58, 68);
  background-repeat: no-repeat;
  background-size: cover;
}

.background-deck {
  background-color: rgb(44, 44, 44);
}

#background-sobre-nos {
  background-image: url("img/background-sobre-nos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#sobre-nos {
  color: whitesmoke;
  font-size: 2rem;
}

.referencias {
  background-image: url("img/background-referencias");
}

/* estilos para o index */

#sobre-nos h1 {
  display: flex;
  justify-content: center;
  color: rgba(240, 177, 18, 0.889);
  text-shadow: white 1px 1px;
}

#sobre-nos p {
  display: flex;
  color: rgb(228, 182, 57);
  text-shadow: white 1px 1px;
  text-align: center;
}

.numeracao {
  color: rgba(240, 177, 18, 0.889);
  display: flex;
  justify-content: center;
  text-shadow: white 1px 1px;
}

#index h1,
.titulo {
  text-align: center;
  font-size: 10vh;
  font-family: "Dancing Script", cursive;
  text-shadow: 3px 3px rgb(104, 182, 255);
  color: rgb(255, 255, 255);
}

#menu {
  display: grid;
  grid-template: auto 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
}

#index h1 {
  grid-row: 1 / 2;
  grid-column: 2 / 5;
}

#delete-data {
  grid-row: 3 / 4;
  grid-column: 5 / 6;
  color: rgb(12, 12, 12);
  background-color: rgb(219, 213, 213);
  width: 10vh;
  height: 10vh;
  display: flex;
  justify-self: flex-end;
  align-self: center;
  cursor: pointer;
}

#save-data {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  color: rgb(12, 12, 12);
  background-color: rgb(219, 213, 213);
  width: 10vh;
  height: 10vh;
  display: flex;
  justify-self: flex-start;
  align-self: center;
  cursor: pointer;
}

#load-data {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  color: rgb(12, 12, 12);
  background-color: rgb(219, 213, 213);
  width: 10vh;
  height: 10vh;
  display: flex;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

#jogar {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#deck {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

#shop {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

#sobre {
  grid-row: 3 / 4;
  grid-column: 4 / 5;
}

/*estilos para os botoes */
.botao {
  display: flex;
  text-shadow: 2px 2px rgb(104, 182, 255);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 8vh;
  background-color: rgb(2, 57, 88);
  font-family: "Dancing Script", cursive;
  justify-content: center;
  align-items: center;

  width: 40vh;
  height: 22vh;
  border-radius: 3%;
  border: 0.2vh solid black;
}

a {
  text-decoration-line: none;
}

.botao:hover {
  background-color: rgba(7, 44, 66, 0.904);
  cursor: pointer;
  transition: 350ms;
  color: gray;
  text-shadow: goldenrod 2px 2px;
  border: 1.2vh ridge rgb(5, 156, 38);
  height: 20vh;
  width: 38vh;
}

.botao:active {
  background-color: rgb(5, 82, 128);
  cursor: pointer;
  transition: 100ms;
  color: gray;
  text-shadow: goldenrod 1px 1px;
}

.volta {
  font-size: 10vh;
  position: sticky;
  top: 0px;
  left: 0px;
  color: rgb(255, 255, 255);
  border-radius: 10%;
  text-shadow: 1px 1px blue;
  text-align: center;
  background-color: rgb(26, 24, 24);
  font-family: "Dancing Script", cursive;
  border-radius: 20%;
  height: 9vh;
  width: 11vh;
  padding-bottom: 2vh;
  border: 1vh solid rgb(0, 0, 0);
}

.volta:hover {
  background-color: rgba(22, 22, 22, 0.904);
  cursor: pointer;
  color: gray;
  transition: 200ms;
}

/* estilos para a seleção de batalha */

#selecionador {
  display: grid;
  grid-template: auto auto auto auto auto / 20vh 1fr 1fr 1fr 1fr 20vh;
}

#nome-oponente {
  text-align: center;
  font-size: 5vh;
  font-family: "Dancing Script", cursive;
  text-shadow: 1px 1px rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  grid-row: 4 / 5;
  grid-column: 3 / 5;
}

.texto {
  text-align: center;
  font-size: 6vh;
  font-family: "Dancing Script", cursive;
  text-shadow: 3px 3px rgb(104, 182, 255);
  color: rgb(255, 255, 255);
}

#botao-voltar {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#selecionador h1 {
  grid-row: 1 / 2;
  grid-column: 3 / 5;
  justify-self: center;
  align-self: center;
}

#anterior {
  background-image: url("img/anterior.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-self: end;
  border-radius: 2vh;
  border: rgb(61, 61, 61) ridge 1vh;
  grid-row: 5 / 6;
  grid-column: 3 / 4;
}

#proximo {
  background-image: url("img/proximo.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-self: start;
  border-radius: 2vh;
  border: rgb(61, 61, 61) ridge 1vh;
  grid-row: 5 / 6;
  grid-column: 4 / 5;
}

#proximo:hover {
  cursor: pointer;
  border: rgb(255, 255, 255) ridge 5px;
  transition: 300ms;
}

#proximo:active {
  border: rgb(146, 146, 146) ridge 5px;
  transition: 300ms;
  transform: translateX(10px);
}

#anterior:hover {
  cursor: pointer;
  border: rgb(255, 255, 255) ridge 5px;
  transition: 300ms;
}

#anterior:active {
  border: rgb(146, 146, 146) ridge 5px;
  transition: 300ms;
  transform: translateX(10px);
}

.controle {
  width: 15vh;
  height: 15vh;
}

#img-oponente {
  width: 32.66vh;
  height: 45.66vh;
  border: rgb(146, 146, 146) ridge 2vh;
  border-radius: 2vh;
}

#img-oponente:hover {
  border: rgb(116, 4, 4) ridge 2vh;
  transition: 300ms;
}

#link-oponente {
  grid-row: 2 / 3;
  grid-column: 3 / 5;
  justify-self: center;
}

/* fim */

/*estilo para o baralho/deck*/

#deck {
  display: grid;
  grid-template: 1fr auto 1fr auto / 1fr 1fr 1fr 1fr 1fr;
}

#voltar-deck {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#deck h1 {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
}

#baralho-formado {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: rgb(24, 24, 24);
  border: 2vh rgb(0, 0, 0) solid;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  position: sticky;
  top: 0;
  z-index: 1;
}

#deck h2 {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
}

#colecao {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: rgb(36, 36, 36);
  border: 1vh rgb(255, 255, 255) solid;
  grid-column: 2 / 5;
  grid-row: 4 / 5;
}

#baralho-formado img {
  width: 17.49vh;
  height: 24.63vh;
}

#colecao img {
  width: 160px;
  height: 228px;
  cursor: pointer;
  border: ridge rgb(255, 154, 3) 1vh;
}

.adicionar-baralho {
  opacity: 10%;
}

.alerta-len {
  background-color: rgb(228, 39, 5);
  border: solid black 1vh;
  border-radius: 10%;
  display: grid;
  grid-area: 1 / 5 / 2 / 6;
  position: sticky;
  top: 0;
  right: 0;
}

.alerta-max {
  background-color: rgb(54, 204, 17);
  border: solid black 1vh;
  border-radius: 10%;
  display: grid;
  grid-area: 1 / 5 / 2 / 6;
  position: sticky;
  top: 0;
  right: 0;
}

.alerta-len p {
  text-align: center;
  font-size: 4vh;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
}

.alerta-max p {
  text-align: center;
  font-size: 4vh;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
}

/* fim */

/* estilos para as batalhas */

.batalha {
  overflow: hidden;
}

#arena {
  display: grid;
  grid-template: repeat(4, auto) / repeat(5, 1fr);
  margin-left: 1vh;
  margin-right: 1vh;
  align-items: center;
  grid-gap: 1vh;
}

#batalha-voltar {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

#batalha-voltar div {
  display: flex;
  font-size: 4vh;
  color: rgb(243, 221, 221);
  text-shadow: 4px 1px 1px rgb(92, 1, 1);
  background-color: rgb(26, 24, 24);
  font-family: "Times New Roman", Times, serif;
  border-radius: 20%;
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
  height: 9vh;
  width: 11vh;
  border: 1vh solid rgb(0, 0, 0);
}

#baralho-area {
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  width: 12vh;
  height: 17vh;
  justify-self: center;
  filter: drop-shadow(100px);
  border: var(--borda-escura);
  border-radius: var(--borda-redondinha);
}

#baralho-texto {
  justify-self: center;
  align-self: flex-end;
  text-align: center;
  font-size: 4vh;
  font-weight: 200;
  font-family: "Dancing Script", cursive;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(0, 0, 41);
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}

#falas {
  justify-self: center;
  align-self: flex-end;
  text-align: center;
  font-size: 3vh;
  font-weight: 200;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(0, 0, 41);
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

#info-card {
  justify-self: center;
  align-self: flex-end;
  text-align: center;
  font-size: 2.5vh;
  font-weight: 200;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(0, 0, 41);
  position: absolute;
  top: -100px;
  background-color: rgb(53, 51, 51);
  border: ridge white 0.5vh;
  padding: 5px 5px;
  border-radius: var(--borda-redondinha);
}

.hide {
  display: none;
}

#baralho-area:hover {
  cursor: pointer;
}


#player-deck {
  grid-column: 2 / 5;
  grid-row: 4 / 5;
  background: radial-gradient(circle,
      rgba(13, 13, 13, 1) 0%,
      rgba(68, 63, 63, 1) 100%);
  padding: 2vh;
  border: 1vh rgb(0, 0, 0) ridge;
  border-radius: var(--borda-redondinha);
  display: flex;
  justify-content: center;
  width: 146vh;
  height: 24vh;
  box-sizing: border-box;
}

.slotabble {
  background: radial-gradient(circle,
      rgba(185, 186, 19, 1) 0%,
      rgba(50, 148, 134, 1) 100%);
}

#area-inimigo div {
  background: radial-gradient(circle,
      rgba(185, 186, 19, 1) 0%,
      rgba(50, 148, 134, 1) 100%);
}

.ocupado {
  background: radial-gradient(circle,
      rgba(185, 186, 19, 1) 0%,
      rgba(50, 148, 134, 1) 100%);
}

#oponente-obj {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  justify-self: center;
  width: 12.5vh;
  height: 12.5vh;
}

.drag:active {
  width: 24.54vh;
  height: 34.7vh;
}

.drag {
  cursor: pointer;
  width: 16.36vh;
  height: 23.13vh;
}

#arena div:not(#player-deck) img {
  width: 20vh;
  height: 22vh;
}

#area-inimigo {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: radial-gradient(circle,
      rgba(156, 23, 121, 1) 0%,
      rgba(28, 12, 27, 1) 100%);
  width: 144vh;
  border: var(--borda-escura);
  border-radius: var(--borda-redondinha);
}

#area-aliado {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: radial-gradient(circle,
      rgba(23, 59, 156, 1) 0%,
      rgba(28, 12, 27, 1) 100%);
  width: 144vh;
  border: var(--borda-escura);
  border-radius: var(--borda-redondinha);
}

#slot1 {
  border: var(--borda-escura);
  border-radius: var(--borda-redondinha);
}

#slot2 {
  border: var(--borda-escura);
  border-radius: var(--borda-redondinha);
}

#slot3 {
  border: var(--borda-escura);
  border-radius: var(--borda-redondinha);
}

#slot4 {
  border: var(--borda-escura);
  border-radius: var(--borda-redondinha);
}

#slot5 {
  border: var(--borda-escura);
  border-radius: var(--borda-redondinha);
}

#slot6 {
  border: var(--borda-escura);
  border-radius: var(--borda-redondinha);
}

#vida-inimigo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 48.9%;
  border: solid black 0.5vh;
  padding: 4.2vh 2.4vh;
  background: radial-gradient(circle,
      rgba(255, 0, 0, 1) 0%,
      rgb(126, 43, 43) 100%);
  display: flex;
  justify-self: center;
  align-self: center;
  z-index: -1;
  width: 15vh;
  height: 15vh;
  box-sizing: border-box;
}

#mana-player {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  border-radius: 48.9%;
  border: solid black 0.5vh;
  background: radial-gradient(circle,
      rgb(240, 219, 127) 0%,
      rgb(115, 217, 224) 100%);
  padding: 4.2vh 2.4vh;
  display: flex;
  justify-self: center;
  align-self: center;
  z-index: -1;
  width: 15vh;
  height: 15vh;
  box-sizing: border-box;
}

#vida-player {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  border-radius: 48.9%;
  border: solid black 0.5vh;
  padding: 4.2vh 2.4vh;
  background: radial-gradient(circle,
      rgba(255, 0, 0, 1) 0%,
      rgb(126, 43, 43) 100%);
  display: flex;
  justify-self: center;
  align-self: center;
  z-index: -1;
  width: 15vh;
  height: 15vh;
  box-sizing: border-box;
}

#aro1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 18vh;
  height: 18vh;
  display: flex;
  justify-self: center;
  align-self: center;
}

#aro2 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  width: 18vh;
  height: 18vh;
  display: flex;
  justify-self: center;
  align-self: center;
}

#aro3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  width: 18vh;
  height: 18vh;
  display: flex;
  justify-self: center;
  align-self: center;
}

#passa-turno {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  font-size: 12vh;
  text-align: center;
  justify-self: center;
  width: 12.5vh;
  height: 17.25vh;
  background-color: azure;
  border: var(--borda-escura);
  border-radius: var(--borda-redondinha);
}

#passa-turno:hover {
  cursor: pointer;
  transition: 800ms;
  background-color: rgb(255, 255, 255);
  filter: invert(100%);
}

#turno-contador {
  justify-self: center;
  align-self: flex-end;
  text-align: center;
  font-size: 5vh;
  font-weight: 200;
  font-family: "Dancing Script", cursive;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(0, 0, 41);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.dmg,
.hp,
.mana,
#vida-player,
#vida-inimigo,
#mana-player {
  font-family: sans-serif;
  font-size: 3.5vh;
  text-shadow: 2px 2px rgb(0, 0, 0);
  color: rgb(80, 80, 80);
  font-weight: bold;
}

.hp {
  padding: 1vh 1vh;
  float: right;
}

.dmg {
  padding: 1vh;
  float: left;
}

.mana {
  padding: 1vh;
  float: left;
}

.Imunidade {
  opacity: 0.5;
}

.Defesa {
  filter: sepia(30%);
}

.PerdendoVida {
  filter: hue-rotate(74deg);
}

.Congelado {
  filter: invert(1);
}

.Angry {
  filter: saturate(150%);
}

.DanoAumentado {
  filter: blur(1px);
  filter: brightness(150%);
}

/* fim */

/*//////////////////////////////////shop/////////////////////////////////////////////////////////*/

#comprar {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(5, 1fr);
  margin-left: 1vh;
  margin-right: 1vh;
  align-items: center;
}

#dinheiro {
  background-color: rgb(245, 245, 94);
  border: var(--borda-escura);
  border-radius: var(--borda-redondinha);
  grid-column: 4 / 6;
  grid-row: 1 / 2;
  padding: auto;
}

#dinheiro p {
  justify-self: center;
  align-self: flex-end;
  text-align: center;
  font-size: 5vh;
  font-weight: 200;
  font-family: "Dancing Script", cursive;
  color: rgb(13, 198, 223);
  text-shadow: 2px 2px rgb(3, 3, 3);
}

#loja-cartas {
  grid-column: 2 / 6;
  grid-row: 2 / 4;
  display: flex;
  justify-content: space-around;
  background-color: rgb(215, 247, 39);
  border: var(--borda-escura);
  border-radius: var(--borda-redondinha);
}

.carta-venda img {
  width: 24.5vh;
  height: 34.5vh;
  padding: 10px;
}

.carta-venda img:hover {
  cursor: pointer;
}

.carta-venda button:hover {
  cursor: pointer;
}

.carta-venda button {
  text-align: center;
  font-size: 3vh;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
}

.carta-venda {
  background-color: rgb(59, 230, 187);
  border-radius: var(--borda-redondinha);
  border: var(--borda-escura);
  display: flex;
  flex-direction: column;
}

.imagem-loja {
  width: 15vh;
  height: 15vh;
  padding: 10px;
}

#titulo-loja {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  border: var(--borda-escura);
  border-radius: var(--borda-redondinha);
  padding: 2.5vh;
  background-color: rgb(46, 189, 194);
}

#text-shop{
  justify-self: center;
  align-self: flex-end;
  text-align: center;
  font-size: 5vh;
  font-weight: 200;
  font-family: "Dancing Script", cursive;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(78, 216, 221);
  background-color: gray;
  padding: 10px; 
  border: var(--borda-escura);
  border-radius: var(--borda-redondinha);
}

#carrinho {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: rgb(21, 165, 98);
  border: var(--borda-escura);
}

#reciclar {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  border-radius: 50%;
  border: var(--borda-escura);
  background-color: aquamarine;
}

#reciclar:hover {
  cursor: pointer;
  transition: 500ms;
  border: 1vh ridge rgb(163, 165, 163);
  transform: rotate(180deg);
}

.girar {
  transform: rotateY(360deg);
  transition: 500ms;
}

#reciclar:active {
  cursor: pointer;
  transition: 300ms;
  transform: rotate(720deg);
}

.voltar {
  top: 0.5vh;
  left: 0.5vh;
  height: 13vh;
  width: 13vh;
  position: absolute;
}

.voltar a {
  height: 100%;
  width: 100%;
}

.trancado img{
  filter: invert(45%);
  transition: 200ms;
}
.trancado {
  border: 1vh ridge whitesmoke;
  transition: 200ms;
}
.botao-trancar{
  color: rgb(0, 81, 255);
  text-shadow: black 1px 1px;
}

@media (max-width: 100px){
  #menu{
    display: flex;
    flex-direction: column;
}
}
